$OffCanvasMenu-class--script: ".js-offCanvasMenu";
$OffCanvasMenu-class--style: ".OffCanvasMenu";

$OffCanvasMenu-elementsToPush: ".App-content, .OffCanvasMenu-button";


$OffCanvasMenu-effect-selector: ".js-offCanvasMenu--effect";

$OffCanvasMenu-width: 15em;
