/**
 * off-canvas-menu
 * Bunch of off-canvas menus with sweet transition effects.
 *
 * Author: Maarten Van Hoof
 * Twitter: @vanhoofmaarten
 * MIT License: https://github.com/vanhoofmaarten/off-canvas-menu/blob/master/LICENSE.md
 * Repository: https://github.com/vanhoofmaarten/off-canvas-menu
 */



/* Variables */
    @import "_variables.scss";

/* Base */
    #{$OffCanvasMenu-class--style}{
        width: $OffCanvasMenu-width;
    }

    .OffCanvasMenu-overlay{
        opacity: 0;
        z-index: -1;
        transition: all 0.5s;

        .js-offCanvasMenu--active & {
            opacity: 1;
            z-index: 97;
        }
    }



/* Components */
    @import "components/fallback.scss";

/* Effects */
    @import "effects/_3d-rotate-in.scss";
    @import "effects/_3d-rotate-out.scss";
    @import "effects/_delayed-3d-rotate.scss";
    @import "effects/_fall-down.scss";
    @import "effects/_open-door.scss";
    @import "effects/_push.scss";
    @import "effects/_reveal.scss";
    @import "effects/_reverse-slide-out.scss";
    @import "effects/_rotate-pusher.scss";
    @import "effects/_scale-and-rotate-pusher.scss";
    @import "effects/_scale-down-pusher.scss";
    @import "effects/_scale-up.scss";
    @import "effects/_slide-along.scss";
    @import "effects/_slide-in-on-top.scss";


