/**
 * off-canvas-menu
 * Bunch of off-canvas menus with sweet transition effects.
 *
 * Author: Maarten Van Hoof
 * Twitter: @vanhoofmaarten
 * MIT License: https://github.com/vanhoofmaarten/off-canvas-menu/blob/master/LICENSE.md
 * Repository: https://github.com/vanhoofmaarten/off-canvas-menu
 */
/* Variables */
/* Base */
.OffCanvasMenu {
  width: 15em; }

.OffCanvasMenu-overlay {
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s; }
  .js-offCanvasMenu--active .OffCanvasMenu-overlay {
    opacity: 1;
    z-index: 97; }

/* Components */
/* =======================================================
    Fallback
    For browsers that don't support 3D transforms
    (and no JS fallback)

    Must have Modernizr with the right tests for this!
======================================================= */
.no-csstransforms3d .st-pusher, .no-js .st-pusher {
  padding-left: 300px; }

/* Effects */
/* =======================================================
    Effect: 3D rotate in
======================================================= */
.js-offCanvasMenu--effect--\33 d-rotate-in .App {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%; }
.js-offCanvasMenu--effect--\33 d-rotate-in .App-content-inner, .js-offCanvasMenu--effect--\33 d-rotate-in .OffCanvasMenu-button, .js-offCanvasMenu--effect--\33 d-rotate-in .OffCanvasMenu {
  -webkit-transition: -webkit-transform 0.5s, visibility 0.5s;
  -o-transition: -o-transform 0.5s, visibility 0.5s;
  transition: transform 0.5s, visibility 0.5s; }
.js-offCanvasMenu--effect--\33 d-rotate-in .App-content-inner, .js-offCanvasMenu--effect--\33 d-rotate-in .OffCanvasMenu-button {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }
.js-offCanvasMenu--effect--\33 d-rotate-in .OffCanvasMenu {
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  -o-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.js-offCanvasMenu--effect--\33 d-rotate-in.js-offCanvasMenu--active .App-content-inner, .js-offCanvasMenu--effect--\33 d-rotate-in.js-offCanvasMenu--active .OffCanvasMenu-button {
  -webkit-transform: translate3d(15em, 0, 0);
  -o-transform: translate3d(15em, 0, 0);
  transform: translate3d(15em, 0, 0); }
.js-offCanvasMenu--effect--\33 d-rotate-in.js-offCanvasMenu--active .OffCanvasMenu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0) rotateY(0);
  -o-transform: translate3d(0, 0, 0) rotateY(0);
  transform: translate3d(0, 0, 0) rotateY(0); }

/* =======================================================
    Effect: 3D rotate out
======================================================= */
.js-offCanvasMenu--effect--\33 d-rotate-out .App {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%; }
.js-offCanvasMenu--effect--\33 d-rotate-out .App-content-inner, .js-offCanvasMenu--effect--\33 d-rotate-out .OffCanvasMenu-button, .js-offCanvasMenu--effect--\33 d-rotate-out .OffCanvasMenu {
  -webkit-transition: -webkit-transform 0.5s, visibility 0.5s;
  -o-transition: -o-transform 0.5s, visibility 0.5s;
  transition: transform 0.5s, visibility 0.5s; }
.js-offCanvasMenu--effect--\33 d-rotate-out .App-content-inner, .js-offCanvasMenu--effect--\33 d-rotate-out .OffCanvasMenu-button {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }
.js-offCanvasMenu--effect--\33 d-rotate-out .OffCanvasMenu {
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -o-transform: translate3d(-100%, 0, 0) rotateY(90deg);
  transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.js-offCanvasMenu--effect--\33 d-rotate-out.js-offCanvasMenu--active .App-content-inner, .js-offCanvasMenu--effect--\33 d-rotate-out.js-offCanvasMenu--active .OffCanvasMenu-button {
  -webkit-transform: translate3d(15em, 0, 0);
  -o-transform: translate3d(15em, 0, 0);
  transform: translate3d(15em, 0, 0); }
.js-offCanvasMenu--effect--\33 d-rotate-out.js-offCanvasMenu--active .OffCanvasMenu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0) rotateY(0);
  -o-transform: translate3d(0, 0, 0) rotateY(0);
  transform: translate3d(0, 0, 0) rotateY(0); }

/* =======================================================
    Effect: Delayed 3D rotate
======================================================= */
.js-offCanvasMenu--effect--delayed-\33 d-rotate .App {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%; }
.js-offCanvasMenu--effect--delayed-\33 d-rotate .App-content-inner, .js-offCanvasMenu--effect--delayed-\33 d-rotate .OffCanvasMenu-button, .js-offCanvasMenu--effect--delayed-\33 d-rotate .OffCanvasMenu {
  -webkit-transition: -webkit-transform 0.5s, visibility 0.5s;
  -o-transition: -o-transform 0.5s, visibility 0.5s;
  transition: transform 0.5s, visibility 0.5s; }
.js-offCanvasMenu--effect--delayed-\33 d-rotate .App-content-inner, .js-offCanvasMenu--effect--delayed-\33 d-rotate .OffCanvasMenu-button {
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s; }
.js-offCanvasMenu--effect--delayed-\33 d-rotate .App-content-inner {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 2; }
.js-offCanvasMenu--effect--delayed-\33 d-rotate .OffCanvasMenu {
  z-index: 1;
  -webkit-transform: translate3d(-50%, 0, 0) rotateY(90deg);
  -o-transform: translate3d(-50%, 0, 0) rotateY(90deg);
  transform: translate3d(-50%, 0, 0) rotateY(90deg);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.js-offCanvasMenu--effect--delayed-\33 d-rotate.js-offCanvasMenu--active .App-content-inner, .js-offCanvasMenu--effect--delayed-\33 d-rotate.js-offCanvasMenu--active .OffCanvasMenu-button {
  -webkit-transform: translate3d(15em, 0, 0);
  -o-transform: translate3d(15em, 0, 0);
  transform: translate3d(15em, 0, 0); }
.js-offCanvasMenu--effect--delayed-\33 d-rotate.js-offCanvasMenu--active .OffCanvasMenu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0) rotateY(0deg);
  -o-transform: translate3d(0, 0, 0) rotateY(0deg);
  transform: translate3d(0, 0, 0) rotateY(0deg);
  -webkit-transition-delay: none;
  -o-transition-delay: none;
  transition-delay: none; }

/* =======================================================
    Effect: Fall down
======================================================= */
.js-offCanvasMenu--effect--fall-down .App {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%; }
.js-offCanvasMenu--effect--fall-down .App-content-inner, .js-offCanvasMenu--effect--fall-down .OffCanvasMenu-button, .js-offCanvasMenu--effect--fall-down .OffCanvasMenu {
  -webkit-transition: -webkit-transform 0.5s, visibility 0.5s;
  -o-transition: -o-transform 0.5s, visibility 0.5s;
  transition: transform 0.5s, visibility 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -o-transition-property: -o-transform;
  transition-property: transform; }
.js-offCanvasMenu--effect--fall-down .App-content-inner {
  z-index: 2; }
.js-offCanvasMenu--effect--fall-down .OffCanvasMenu {
  z-index: 1;
  -webkit-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.js-offCanvasMenu--effect--fall-down.js-offCanvasMenu--active .App-content-inner, .js-offCanvasMenu--effect--fall-down.js-offCanvasMenu--active .OffCanvasMenu-button {
  -webkit-transform: translate3d(15em, 0, 0);
  -o-transform: translate3d(15em, 0, 0);
  transform: translate3d(15em, 0, 0); }
.js-offCanvasMenu--effect--fall-down.js-offCanvasMenu--active .OffCanvasMenu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* =======================================================
    Effect: Open door
======================================================= */
.st-effect-12.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px; }

.st-effect-12 .st-pusher {
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.st-effect-12.st-menu-open .st-pusher {
  -webkit-transform: rotateY(-10deg);
  -o-transform: rotateY(-10deg);
  transform: rotateY(-10deg); }

.st-effect-12.st-menu {
  opacity: 1;
  -webkit-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.st-effect-12.st-menu-open .st-effect-12.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.st-effect-12.st-menu::after {
  display: none; }

.js-offCanvasMenu--effect--open-door .App-content {
  -webkit-perspective: 1500px;
  perspective: 1500px; }
.js-offCanvasMenu--effect--open-door .App-content-inner, .js-offCanvasMenu--effect--open-door .OffCanvasMenu-button, .js-offCanvasMenu--effect--open-door .OffCanvasMenu {
  -webkit-transition: -webkit-transform 0.5s, visibility 0.5s;
  -o-transition: -o-transform 0.5s, visibility 0.5s;
  transition: transform 0.5s, visibility 0.5s; }
.js-offCanvasMenu--effect--open-door .App-content-inner {
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }
.js-offCanvasMenu--effect--open-door .OffCanvasMenu {
  -webkit-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.js-offCanvasMenu--effect--open-door.js-offCanvasMenu--active {
  /*
     * Make a canvas that goes back and forth
     * To hold scroll - add scroll position to top of inner and vice versa
     */ }
  .js-offCanvasMenu--effect--open-door.js-offCanvasMenu--active .App-content {
    overflow: hidden;
    position: relative;
    height: 100%; }
  .js-offCanvasMenu--effect--open-door.js-offCanvasMenu--active .App-content-inner {
    position: relative;
    height: 100%;
    overflow: hidden;
    left: 0px;
    top: 0px; }
  .js-offCanvasMenu--effect--open-door.js-offCanvasMenu--active .App-content-inner, .js-offCanvasMenu--effect--open-door.js-offCanvasMenu--active .OffCanvasMenu-button {
    -webkit-transform: rotateY(-10deg);
    -o-transform: rotateY(-10deg);
    transform: rotateY(-10deg); }
  .js-offCanvasMenu--effect--open-door.js-offCanvasMenu--active .OffCanvasMenu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

/* =======================================================
    Effect: Push
======================================================= */
.js-offCanvasMenu--effect--push .App-content, .js-offCanvasMenu--effect--push .OffCanvasMenu-button, .js-offCanvasMenu--effect--push .OffCanvasMenu {
  -webkit-transition: -webkit-transform 0.5s, visibility 0.5s;
  -o-transition: -o-transform 0.5s, visibility 0.5s;
  transition: transform 0.5s, visibility 0.5s; }
.js-offCanvasMenu--effect--push .App-content, .js-offCanvasMenu--effect--push .OffCanvasMenu-button {
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
.js-offCanvasMenu--effect--push .OffCanvasMenu {
  -webkit-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.js-offCanvasMenu--effect--push.js-offCanvasMenu--active .App-content, .js-offCanvasMenu--effect--push.js-offCanvasMenu--active .OffCanvasMenu-button {
  -webkit-transform: translate3d(15em, 0, 0);
  -o-transform: translate3d(15em, 0, 0);
  transform: translate3d(15em, 0, 0); }
.js-offCanvasMenu--effect--push.js-offCanvasMenu--active .OffCanvasMenu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* =======================================================
    Effect: Reveal
======================================================= */
/*
 * There's a bug with scrolling the offcanvasmenu, look in to it!
 */
.js-offCanvasMenu--effect--reveal .App-content, .js-offCanvasMenu--effect--reveal .OffCanvasMenu-button, .js-offCanvasMenu--effect--reveal .OffCanvasMenu {
  -webkit-transition: -webkit-transform 0.5s, visibility 0.5s;
  -o-transition: -o-transform 0.5s, visibility 0.5s;
  transition: transform 0.5s, visibility 0.5s; }
.js-offCanvasMenu--effect--reveal .OffCanvasMenu-overlay {
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  -o-transition: -o-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s; }
.js-offCanvasMenu--effect--reveal .App-content, .js-offCanvasMenu--effect--reveal .OffCanvasMenu-button {
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  z-index: 1; }
.js-offCanvasMenu--effect--reveal .OffCanvasMenu {
  z-index: 0; }

.js-offCanvasMenu--effect--reveal.js-offCanvasMenu--active .App-content, .js-offCanvasMenu--effect--reveal.js-offCanvasMenu--active .OffCanvasMenu-button, .js-offCanvasMenu--effect--reveal.js-offCanvasMenu--active .OffCanvasMenu-overlay {
  -webkit-transform: translate3d(15em, 0, 0);
  -o-transform: translate3d(15em, 0, 0);
  transform: translate3d(15em, 0, 0); }
.js-offCanvasMenu--effect--reveal.js-offCanvasMenu--active .OffCanvasMenu {
  visibility: visible; }

/* =======================================================
    Effect: Reverse slide out
======================================================= */
.js-offCanvasMenu--effect--reverse-slide-out .App-content, .js-offCanvasMenu--effect--reverse-slide-out .OffCanvasMenu-button, .js-offCanvasMenu--effect--reverse-slide-out .OffCanvasMenu {
  -webkit-transition: -webkit-transform 0.5s, visibility 0.5s;
  -o-transition: -o-transform 0.5s, visibility 0.5s;
  transition: transform 0.5s, visibility 0.5s; }
.js-offCanvasMenu--effect--reverse-slide-out .OffCanvasMenu-overlay {
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  -o-transition: -o-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s; }
.js-offCanvasMenu--effect--reverse-slide-out .App-content, .js-offCanvasMenu--effect--reverse-slide-out .OffCanvasMenu-button {
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  z-index: 1; }
.js-offCanvasMenu--effect--reverse-slide-out .OffCanvasMenu {
  -webkit-transform: translate3d(50%, 0, 0);
  -o-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
  z-index: 0; }

.js-offCanvasMenu--effect--reverse-slide-out.js-offCanvasMenu--active .App-content, .js-offCanvasMenu--effect--reverse-slide-out.js-offCanvasMenu--active .OffCanvasMenu-button, .js-offCanvasMenu--effect--reverse-slide-out.js-offCanvasMenu--active .OffCanvasMenu-overlay {
  -webkit-transform: translate3d(15em, 0, 0);
  -o-transform: translate3d(15em, 0, 0);
  transform: translate3d(15em, 0, 0); }
.js-offCanvasMenu--effect--reverse-slide-out.js-offCanvasMenu--active .OffCanvasMenu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* =======================================================
    Effect: Rotate pusher
======================================================= */
.js-offCanvasMenu--effect--rotate-pusher .App-content {
  -webkit-perspective: 1500px;
  perspective: 1500px; }
.js-offCanvasMenu--effect--rotate-pusher .App-content-inner, .js-offCanvasMenu--effect--rotate-pusher .OffCanvasMenu-button, .js-offCanvasMenu--effect--rotate-pusher .OffCanvasMenu {
  -webkit-transition: -webkit-transform 0.5s, visibility 0.5s;
  -o-transition: -o-transform 0.5s, visibility 0.5s;
  transition: transform 0.5s, visibility 0.5s; }
.js-offCanvasMenu--effect--rotate-pusher .App-content-inner, .js-offCanvasMenu--effect--rotate-pusher .OffCanvasMenu-button {
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }
.js-offCanvasMenu--effect--rotate-pusher .OffCanvasMenu {
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(15deg);
  -o-transform: translate3d(-100%, 0, 0) rotateY(15deg);
  transform: translate3d(-100%, 0, 0) rotateY(15deg);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.js-offCanvasMenu--effect--rotate-pusher.js-offCanvasMenu--active .App-content-inner, .js-offCanvasMenu--effect--rotate-pusher.js-offCanvasMenu--active .OffCanvasMenu-button {
  -webkit-transform: translate3d(15em, 0, 0) rotateY(-15deg);
  -o-transform: translate3d(15em, 0, 0) rotateY(-15deg);
  transform: translate3d(15em, 0, 0) rotateY(-15deg);
  pointer-events: none; }
.js-offCanvasMenu--effect--rotate-pusher.js-offCanvasMenu--active .OffCanvasMenu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0) rotateY(0);
  -o-transform: translate3d(0, 0, 0) rotateY(0);
  transform: translate3d(0, 0, 0) rotateY(0); }

/* =======================================================
    Effect: Scale & rotate pusher
======================================================= */
.js-offCanvasMenu--effect--scale-and-rotate-pusher .App-content {
  -webkit-perspective: 1500px;
  perspective: 1500px; }
.js-offCanvasMenu--effect--scale-and-rotate-pusher .App-content-inner, .js-offCanvasMenu--effect--scale-and-rotate-pusher .OffCanvasMenu-button, .js-offCanvasMenu--effect--scale-and-rotate-pusher .OffCanvasMenu {
  -webkit-transition: -webkit-transform 0.5s, visibility 0.5s;
  -o-transition: -o-transform 0.5s, visibility 0.5s;
  transition: transform 0.5s, visibility 0.5s; }
.js-offCanvasMenu--effect--scale-and-rotate-pusher .App-content-inner {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }
.js-offCanvasMenu--effect--scale-and-rotate-pusher .OffCanvasMenu {
  -webkit-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.js-offCanvasMenu--effect--scale-and-rotate-pusher.js-offCanvasMenu--active {
  /*
     * Make a canvas that goes back and forth
     * To hold scroll - add scroll position to top of inner and vice versa
     */ }
  .js-offCanvasMenu--effect--scale-and-rotate-pusher.js-offCanvasMenu--active .App-content {
    overflow: hidden;
    position: relative;
    height: 100%; }
  .js-offCanvasMenu--effect--scale-and-rotate-pusher.js-offCanvasMenu--active .App-content-inner {
    position: relative;
    height: 100%;
    overflow: hidden;
    left: 0px;
    top: 0px; }
  .js-offCanvasMenu--effect--scale-and-rotate-pusher.js-offCanvasMenu--active .App-content-inner, .js-offCanvasMenu--effect--scale-and-rotate-pusher.js-offCanvasMenu--active .OffCanvasMenu-button {
    -webkit-transform: translate3d(100px, 0, -30em) rotateY(-20deg);
    -o-transform: translate3d(100px, 0, -30em) rotateY(-20deg);
    transform: translate3d(100px, 0, -30em) rotateY(-20deg); }
  .js-offCanvasMenu--effect--scale-and-rotate-pusher.js-offCanvasMenu--active .OffCanvasMenu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

/* =======================================================
    Effect: Scale down pusher
======================================================= */
.js-offCanvasMenu--effect--scale-down-pusher .App-content {
  -webkit-perspective: 1500px;
  perspective: 1500px; }
.js-offCanvasMenu--effect--scale-down-pusher .App-content-inner, .js-offCanvasMenu--effect--scale-down-pusher .OffCanvasMenu-button, .js-offCanvasMenu--effect--scale-down-pusher .OffCanvasMenu {
  -webkit-transition: -webkit-transform 0.5s, visibility 0.5s;
  -o-transition: -o-transform 0.5s, visibility 0.5s;
  transition: transform 0.5s, visibility 0.5s; }
.js-offCanvasMenu--effect--scale-down-pusher .App-content-inner {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }
.js-offCanvasMenu--effect--scale-down-pusher .OffCanvasMenu {
  -webkit-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.js-offCanvasMenu--effect--scale-down-pusher.js-offCanvasMenu--active {
  /*
     * Make a canvas that goes back and forth
     */ }
  .js-offCanvasMenu--effect--scale-down-pusher.js-offCanvasMenu--active .App-content {
    overflow: hidden;
    position: relative;
    height: 100%; }
  .js-offCanvasMenu--effect--scale-down-pusher.js-offCanvasMenu--active .App-content-inner {
    position: relative;
    height: 100%;
    overflow: hidden;
    left: 0px;
    top: 0px; }
  .js-offCanvasMenu--effect--scale-down-pusher.js-offCanvasMenu--active .App-content-inner, .js-offCanvasMenu--effect--scale-down-pusher.js-offCanvasMenu--active .OffCanvasMenu-button {
    -webkit-transform: translate3d(0, 0, -15em);
    -o-transform: translate3d(0, 0, -15em);
    transform: translate3d(0, 0, -15em); }
  .js-offCanvasMenu--effect--scale-down-pusher.js-offCanvasMenu--active .OffCanvasMenu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

/* =======================================================
    Effect: Scale up
======================================================= */
.js-offCanvasMenu--effect--scale-up .App {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%; }
.js-offCanvasMenu--effect--scale-up .App-content-inner, .js-offCanvasMenu--effect--scale-up .OffCanvasMenu-button, .js-offCanvasMenu--effect--scale-up .OffCanvasMenu {
  -webkit-transition: -webkit-transform 0.5s, visibility 0.5s;
  -o-transition: -o-transform 0.5s, visibility 0.5s;
  transition: transform 0.5s, visibility 0.5s; }
.js-offCanvasMenu--effect--scale-up .App-content-inner, .js-offCanvasMenu--effect--scale-up .OffCanvasMenu-button {
  z-index: 2; }
.js-offCanvasMenu--effect--scale-up .OffCanvasMenu {
  z-index: 1;
  -webkit-transform: translate3d(0, 0, -15em);
  -o-transform: translate3d(0, 0, -15em);
  transform: translate3d(0, 0, -15em); }

.js-offCanvasMenu--effect--scale-up.js-offCanvasMenu--active .App-content-inner, .js-offCanvasMenu--effect--scale-up.js-offCanvasMenu--active .OffCanvasMenu-button {
  -webkit-transform: translate3d(15em, 0, 0);
  -o-transform: translate3d(15em, 0, 0);
  transform: translate3d(15em, 0, 0); }
.js-offCanvasMenu--effect--scale-up.js-offCanvasMenu--active .OffCanvasMenu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0) rotateY(0);
  -o-transform: translate3d(0, 0, 0) rotateY(0);
  transform: translate3d(0, 0, 0) rotateY(0); }

/* =======================================================
    Effect: Slide along
======================================================= */
.js-offCanvasMenu--effect--slide-along .App-content, .js-offCanvasMenu--effect--slide-along .OffCanvasMenu-button, .js-offCanvasMenu--effect--slide-along .OffCanvasMenu {
  -webkit-transition: -webkit-transform 0.5s, visibility 0.5s;
  -o-transition: -o-transform 0.5s, visibility 0.5s;
  transition: transform 0.5s, visibility 0.5s; }
.js-offCanvasMenu--effect--slide-along .OffCanvasMenu-overlay {
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  -o-transition: -o-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s; }
.js-offCanvasMenu--effect--slide-along .App-content, .js-offCanvasMenu--effect--slide-along .OffCanvasMenu-button {
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  z-index: 1; }
.js-offCanvasMenu--effect--slide-along .OffCanvasMenu {
  -webkit-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  z-index: 0; }

.js-offCanvasMenu--effect--slide-along.js-offCanvasMenu--active .App-content, .js-offCanvasMenu--effect--slide-along.js-offCanvasMenu--active .OffCanvasMenu-button, .js-offCanvasMenu--effect--slide-along.js-offCanvasMenu--active .OffCanvasMenu-overlay {
  -webkit-transform: translate3d(15em, 0, 0);
  -o-transform: translate3d(15em, 0, 0);
  transform: translate3d(15em, 0, 0); }
.js-offCanvasMenu--effect--slide-along.js-offCanvasMenu--active .OffCanvasMenu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* =======================================================
    Effect: Slide in on top
======================================================= */
.js-offCanvasMenu--effect--slide-in-on-top .OffCanvasMenu {
  -webkit-transition: -webkit-transform 0.5s, visibility 0.5s;
  -o-transition: -o-transform 0.5s, visibility 0.5s;
  transition: transform 0.5s, visibility 0.5s;
  -webkit-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.js-offCanvasMenu--effect--slide-in-on-top.js-offCanvasMenu--active .OffCanvasMenu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
