/* =======================================================
    Effect: 3D rotate out
======================================================= */

#{$OffCanvasMenu-effect-selector}--\33 d-rotate-out { // \33 is Unicode for the number 3

    #{$OffCanvasMenu-body}{
        perspective: 1500px;
        perspective-origin: 0% 50%;
    }

    #{$OffCanvasMenu-container-inner},
    #{$OffCanvasMenu-elementsToPush-misc},
    #{$OffCanvasMenu-class--style} {
        transition: transform 0.5s, visibility 0.5s;
    }

    #{$OffCanvasMenu-container-inner},
    #{$OffCanvasMenu-elementsToPush-misc} {
        transform-style: preserve-3d;
    }

    #{$OffCanvasMenu-class--style} {
        transform: translate3d(-100%, 0, 0) rotateY(90deg);
        transform-origin: 100% 50%;
        transform-style: preserve-3d;
    }
}

#{$OffCanvasMenu-effect-selector}--\33 d-rotate-out.js-offCanvasMenu--active {

    #{$OffCanvasMenu-container-inner},
    #{$OffCanvasMenu-elementsToPush-misc} {
        transform: translate3d($OffCanvasMenu-width, 0, 0);
    }

    #{$OffCanvasMenu-class--style} {
        visibility: visible;
        transform: translate3d(0, 0, 0) rotateY(0);
    }
}
