/* =======================================================
    Effect: Delayed 3D rotate
======================================================= */

#{$OffCanvasMenu-effect-selector}--delayed-\33 d-rotate {

    #{$OffCanvasMenu-body}{
        perspective: 1500px;
        perspective-origin: 0% 50%;
    }

    #{$OffCanvasMenu-container-inner},
    #{$OffCanvasMenu-elementsToPush-misc},
    #{$OffCanvasMenu-class--style} {
        transition: transform 0.5s, visibility 0.5s;

    }

    #{$OffCanvasMenu-container-inner},
    #{$OffCanvasMenu-elementsToPush-misc}{
        transition-delay: 0.1s;
    }

    #{$OffCanvasMenu-container-inner}{
        transform-style: preserve-3d;
        z-index: 2;
    }

    #{$OffCanvasMenu-class--style} {
        z-index: 1;
        transform: translate3d(-50%, 0, 0) rotateY(90deg);
        transform-origin: 0% 50%;
        transform-style: preserve-3d;
        transition-delay: 0.1s;
        transition-timing-function: ease-in-out;
    }
}

#{$OffCanvasMenu-effect-selector}--delayed-\33 d-rotate.js-offCanvasMenu--active {

    #{$OffCanvasMenu-container-inner},
    #{$OffCanvasMenu-elementsToPush-misc} {
        transform: translate3d($OffCanvasMenu-width, 0, 0);
    }

    #{$OffCanvasMenu-class--style} {
        visibility: visible;
        transform: translate3d(0, 0, 0) rotateY(0deg);
        transition-delay: none;
    }
}
