/* =======================================================
    Effect: Fall down
======================================================= */

#{$OffCanvasMenu-effect-selector}--fall-down {

    #{$OffCanvasMenu-body}{
        perspective: 1500px;
        perspective-origin: 0% 50%;
    }

    #{$OffCanvasMenu-container-inner},
    #{$OffCanvasMenu-elementsToPush-misc},
    #{$OffCanvasMenu-class--style} {
        transition: transform 0.5s, visibility 0.5s;
        transition-timing-function: ease-in-out;
        transition-property: transform;
    }

    #{$OffCanvasMenu-container-inner}{
        z-index: 2;
    }

    #{$OffCanvasMenu-class--style} {
        z-index: 1;
        transform: translate3d(0, -100%, 0);
    }
}

#{$OffCanvasMenu-effect-selector}--fall-down.js-offCanvasMenu--active {

    #{$OffCanvasMenu-container-inner},
    #{$OffCanvasMenu-elementsToPush-misc} {
        transform: translate3d($OffCanvasMenu-width, 0, 0);
    }

    #{$OffCanvasMenu-class--style} {
        visibility: visible;
        transform: translate3d(0, 0, 0);
    }
}
