/* =======================================================
    Effect: Fall down
======================================================= */

.st-effect-13.st-container {
    perspective: 1500px;
    perspective-origin: 0% 50%;
}

.st-effect-13.st-menu-open .st-pusher {
    transform: translate3d(300px, 0, 0);
}

.st-effect-13.st-menu {
    z-index: 1;
    opacity: 1;
    transform: translate3d(0, -100%, 0);
}

.st-effect-13.st-menu-open .st-effect-13.st-menu {
    visibility: visible;
    transition-timing-function: ease-in-out;
    transition-property: transform;
    transform: translate3d(0, 0, 0);
    transition-speed: 0.2s;
}
