/* =======================================================
    Effect: Push
======================================================= */
#{$OffCanvasMenu-effect-selector}--push {

    #{$OffCanvasMenu-elementsToPush},
    #{$OffCanvasMenu-class--style} {
        transition: transform 0.5s, visibility 0.5s;
    }

    #{$OffCanvasMenu-elementsToPush} {
        transform: translate3d(0, 0, 0);
    }

    #{$OffCanvasMenu-class--style} {
        transform: translate3d(-100%, 0, 0);
    }
}

#{$OffCanvasMenu-effect-selector}--push.js-offCanvasMenu--active {

    #{$OffCanvasMenu-elementsToPush} {
        transform: translate3d($OffCanvasMenu-width, 0, 0);
    }

    #{$OffCanvasMenu-class--style} {
        visibility: visible;
        transform: translate3d(0, 0, 0);
    }
}
