/* =======================================================
    Effect: Reveal
======================================================= */

#{$OffCanvasMenu-effect-selector}--reveal {

    #{$OffCanvasMenu-elementsToPush},
    #{$OffCanvasMenu-class--style}{
        transition: transform 0.5s, visibility 0.5s;
    }

    #{$OffCanvasMenu-class--overlay}{
        transition: transform 0.5s, opacity 0.5s;
    }

    #{$OffCanvasMenu-elementsToPush} {
        transform: translate3d(0, 0, 0);
        position: relative;
        z-index: 1;
    }

    #{$OffCanvasMenu-class--style} {
        z-index: 0;
    }
}

#{$OffCanvasMenu-effect-selector}--reveal.js-offCanvasMenu--active {

    #{$OffCanvasMenu-elementsToPush},
    #{$OffCanvasMenu-class--overlay} {
        transform: translate3d($OffCanvasMenu-width, 0, 0);
    }

    #{$OffCanvasMenu-class--style} {
        visibility: visible;
    }
}

