/* =======================================================
    Effect: Rotate pusher
======================================================= */

.st-effect-6.st-container {
    perspective: 1500px;
}

.st-effect-6 .st-pusher {
    transform-origin: 0% 50%;
    transform-style: preserve-3d;
}

.st-effect-6.st-menu-open .st-pusher {
    transform: translate3d(300px, 0, 0) rotateY(-15deg);
    pointer-events: none;
}

.st-effect-6.st-menu {
    transform: translate3d(-100%, 0, 0);
    transform-origin: 100% 50%;
    transform-style: preserve-3d;
}

.st-effect-6.st-menu-open .st-effect-6.st-menu {
    visibility: visible;
    transition: transform 0.5s;
    transform: translate3d(-100%, 0, 0) rotateY(15deg);
}

.st-effect-6.st-menu::after {
    display: none;
}
