/* =======================================================
    Effect: Rotate pusher
======================================================= */

#{$OffCanvasMenu-effect-selector}--rotate-pusher {

    #{$OffCanvasMenu-container}{
        perspective: 1500px;
    }

    #{$OffCanvasMenu-container-inner},
    #{$OffCanvasMenu-elementsToPush-misc},
    #{$OffCanvasMenu-class--style} {
        transition: transform 0.5s, visibility 0.5s;
    }

    #{$OffCanvasMenu-container-inner},
    #{$OffCanvasMenu-elementsToPush-misc} {
        transform-origin: 0% 50%;
        transform-style: preserve-3d;
    }

    #{$OffCanvasMenu-class--style} {
        transform: translate3d(-100%, 0, 0) rotateY(15deg);
        transform-origin: 100% 50%;
        transform-style: preserve-3d;
    }
}

#{$OffCanvasMenu-effect-selector}--rotate-pusher.js-offCanvasMenu--active {

    #{$OffCanvasMenu-container-inner},
    #{$OffCanvasMenu-elementsToPush-misc} {
        transform: translate3d($OffCanvasMenu-width, 0, 0) rotateY(-15deg);
        pointer-events: none;
    }

    #{$OffCanvasMenu-class--style} {
        visibility: visible;
        transform: translate3d(0, 0, 0) rotateY(0);
    }
}

