/* =======================================================
    Effect: Scale up
======================================================= */
#{$OffCanvasMenu-effect-selector}--scale-up {

    #{$OffCanvasMenu-body}{
        perspective: 1500px;
        perspective-origin: 0% 50%;
    }

    #{$OffCanvasMenu-container-inner},
    #{$OffCanvasMenu-elementsToPush-misc},
    #{$OffCanvasMenu-class--style} {
        transition: transform 0.5s, visibility 0.5s;
    }

    #{$OffCanvasMenu-container-inner},
    #{$OffCanvasMenu-elementsToPush-misc}{
        z-index: 2;
    }

    #{$OffCanvasMenu-class--style} {
        z-index: 1;
        transform: translate3d(0, 0, -($OffCanvasMenu-width));
    }
}

#{$OffCanvasMenu-effect-selector}--scale-up.js-offCanvasMenu--active {

    #{$OffCanvasMenu-container-inner},
    #{$OffCanvasMenu-elementsToPush-misc} {
        transform: translate3d($OffCanvasMenu-width, 0, 0);
    }

    #{$OffCanvasMenu-class--style} {
        visibility: visible;
        transform: translate3d(0, 0, 0) rotateY(0);
    }
}
