/* =======================================================
    Effect: Slide along
======================================================= */

.st-effect-4.st-menu-open .st-pusher {
    transform: translate3d(300px, 0, 0);
}

.st-effect-4.st-menu {
    z-index: 1;
    transform: translate3d(-50%, 0, 0);
}

.st-effect-4.st-menu-open .st-effect-4.st-menu {
    visibility: visible;
    transition: transform 0.5s;
    transform: translate3d(0, 0, 0);
}

.st-effect-4.st-menu::after {
    display: none;
}
