/* =======================================================
    Effect: Slide along
======================================================= */

#{$OffCanvasMenu-effect-selector}--slide-along {

    #{$OffCanvasMenu-elementsToPush},
    #{$OffCanvasMenu-class--style} {
        transition: transform 0.5s, visibility 0.5s;
    }

    #{$OffCanvasMenu-class--overlay}{
        transition: transform 0.5s, opacity 0.5s;
    }

    #{$OffCanvasMenu-elementsToPush} {
        transform: translate3d(0, 0, 0);
        position: relative;
        z-index: 1;
    }

    #{$OffCanvasMenu-class--style} {
        transform: translate3d(-50%, 0, 0);
        z-index: 0;
    }
}

#{$OffCanvasMenu-effect-selector}--slide-along.js-offCanvasMenu--active {

    #{$OffCanvasMenu-elementsToPush},
    #{$OffCanvasMenu-class--overlay} {
        transform: translate3d($OffCanvasMenu-width, 0, 0);
    }

    #{$OffCanvasMenu-class--style} {
        visibility: visible;
        transform: translate3d(0, 0, 0);
    }
}

