/* =======================================================
    Effect: Slide in on top
======================================================= */

#{$OffCanvasMenu-effect-selector}--slide-in-on-top {

    #{$OffCanvasMenu-class--style} {
        transition: transform 0.5s, visibility 0.5s;
        transform: translate3d(-100%, 0, 0);
    }
}

#{$OffCanvasMenu-effect-selector}--slide-in-on-top.js-offCanvasMenu--active {

    #{$OffCanvasMenu-class--style} {
        visibility: visible;
        transform: translate3d(0, 0, 0);
    }
}
